extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        if cart && cart.length > 0
            .grid
                each product in cart
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        div.card__image
                            img(src=product.imageUrl, alt="A Book")
                        div.card__content
                            h2.product__price $#{product.price}
                            p.product__description #{product.description}

                        .card__actions
                            div number : #{product.quantity}
                            form(action="/cart-delete-item",method="POST")
                                input(type="hidden",name="productId",value=product._id)
                                button.btn(type="submit") -
            form(action="/create-order" method="POST")
                button.btn(type='submit') Order now
        else
            h1 not item in cart
